[importlinter]
root_packages =
    src
include_external_packages = True

[importlinter:contract:hexagonal-layers]
name = Hexagonal architecture layers: HTTP -> Infrastructure -> Application -> Domain
type = layers
layers =
    src.http
    src.infrastructure
    src.application
    src.domain

[importlinter:contract:domain-independence]
name = Domains should be independent
type = independence
modules =
    src.domain.*
ignore_imports =
    src.domain.** -> src.domain.common.**